.chessboard{
	
	width:800px;
	height:800px;
	margin:50px auto;
	background-color:black;
	border:5px solid black;
	
}

.green{
	
	width:100px;
	height:100px;
	background-color:#004225;
	float:left;
	text-align:center;
	color:black;
	font-size:80px;
	
}

.skin{
	width:100px;
	height:100px;
	background-color:#8A9A5B;
	float:left;
	text-align:center;
	color:black;
	font-size:80px;
}
.clear-both{
	clear:both;
}